{
  "singleQuote": true,
  "semi": false,

  "importOrder": [
    "^react$",
    "^next/?",
    "^@?\\w",
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^@/(.*)$",
    "^\\.\\.(?!/?$)",
    "^\\./(?=.*/)(?!/?$)",
    "^\\./?$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
